.navbar {
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

.navbar__logo {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 30px;
}

.navbar__link {
  color: var(--text-light);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  color: var(--primary-color);
  background-color: #f0f9ff;
  border-radius: 4px;
}

.navbar__toggle {
  display: none;
}

@media screen and (max-width: 768px) {

  .navbar__toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-main);
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #ffffff;
    border-top: 1px solid #eee;
  }

  .navbar__menu.active {
    left: 0;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s ease;
  }

  .navbar__item {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #f3f4f6;
  }

  .navbar__link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.2rem;
  }

  .navbar__link:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 0;
  }
}